{"UBER TRIP                   SAO PAULO BR" {:id "UBER TRIP                   SAO PAULO BR", :mcc :9999}, "UBER EATS                   SAO PAULO BR" {:id "UBER EATS                   SAO PAULO BR", :mcc :5812}, "PAG*JoseDaSilva          RIO DE JANEI BR" {:id "PAG*JoseDaSilva          RIO DE JANEI BR", :mcc :5411}}